
@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Marvel', sans-serif;
}

body{
    background-image: url(Images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

/* navbar styling  */

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    align-items: center;
}

.navbar.open{
    left: 0;
}

.hamburger{
    display: none;
}
    
.navbar .logo{
    margin-top: 40px;
    margin-left: 40px;
}
.navbar .logo img{
    height: 130px;
    cursor: pointer;
}

.navbar .links{
   width: 50%;
   display: flex;
   justify-content: space-around;
}

.navbar .links a{
    text-decoration: none;
    font-size: 28px;
    color: #fff ;
    cursor: pointer;
    font-weight: 700;
}

.navbar .links a:hover{
    animation: neonAnim 3s alternate-reverse infinite;
    color: white ;
    transition: 0.3s all ease;
}

@keyframes neonAnim {
    from {
        text-shadow:
          0 0 10px rgba(241, 245, 249, .7),
          0 0 40px rgba(241, 245, 249, .7),
          0 0 100px rgba(241, 245, 249, .7);
      }
      to {
        text-shadow:
          0 0 5px rgba(241, 245, 249, .7),
          0 0 20px rgba(241, 245, 249, .7),
          0 0 60px rgba(241, 245, 249, .7);
      }
}


/* inicio styling */

.inicio {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    text-align: center;
    padding-top: 200px;
}

.inicio .contenedor{
    height: 600px;
}

.inicio .contenedor .logo img{
    height: 360px;
}

.inicio .contenedor .logo img:hover{
    transform: scale(1.1);
    transition: 4s;
}


.inicio .contenedor .text {
    align-items: center;
}

.inicio .contenedor .text{
    font-size: 30px;
    color: white;
}

.inicio .contenedor .text .btn{
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    line-height: 45px;
    margin: 1.5em 0 2em;
    max-width: 160px; 
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    background: black;
}

.btn-1 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  } 
  
  .btn-1:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }


  /* responsive styling  */

@media (max-width: 450px){
    .navbar {
        top: 0;
        left: -100%;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 800px;
        background: black;
    }

    .hamburger {
        display: block;
        position: fixed;
        bottom: 47rem;
        right: 2rem;
        padding: 0.5em 1em;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(131,131,131,1) 100%, rgba(131,131,131,1) 100%);
        border: none;
        border-radius: 30%;
        box-shadow: 1px 1px 3px #000;
        cursor: pointer;
        z-index: 1000;
    }

   
    .navbar .links{
       display: block;
       justify-content: center;
       text-align: center;
       margin: 0 auto;
       width: 100%;
       line-height: 100px;
    }

    .navbar .links a{
       display: block;
       justify-content: center;
       font-size: 30px;
    }

    .navbar .links a:hover{
        text-decoration: none;
        background-color: black ;
        color: #fff;
        cursor: pointer;
    }

.inicio {
    height: 400px;
    
}

.inicio .contenedor{
    height: 300px;
    margin-top: 40px;
}

.inicio .contenedor .logo img{
    height: 120px;
}


.inicio .contenedor .text{
    margin-top: 40px;
    font-size: 20px;
    color: white;
}

.inicio .contenedor .text .btn{
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    line-height: 45px;
    margin: 1.5em 0 2em;
    max-width: 160px; 
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    background: black;
}

.btn-1 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  } 
  
  .btn-1:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }  

}